/* Код базового сброса */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
  padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul,ol {
  list-style: none;
}

/*Общие стили*/

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-family: 'Lora', serif;
}

/* svg-icons*/

.svg-arrow {
	width: 12px;
  height: 14px;
	fill: white;
}

.svg-be {
  width: 24px;
  height: 15px;
	fill: black;
}

.svg-email {
  width: 24px;
  height: 24px;
  fill: #574E56;
}

.svg-inst {
  width: 24px;
  height: 24px;
  fill: black;
}

.svg-map {
  width: 24px;
  height: 24px;
  fill: black;
}

.svg-phone {
  width: 18px;
  height: 24px;
  fill: black;
}

.svg-pin {
  width: 24px;
  height: 24px;
  fill: black;
}